// colors
$font-color--dark: #333;
$font-color--gray: #A5A5A5;
$font-color--light: #fff;
$background--light: #fff;
$background--dark: #222;
$background--white: #fff;
$blue: #1f8de2;
$green: #1fe27b;
$red: #e21f3f;
$green-light:#9acb3c;

$title-green: #3fab35;
$green-bg: #9acb3c;
$red: #e94e26;

// spacing
$full-space: 40px;
$half-space: 20px;
$padding-size: 10px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;
