@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}
/* compare table */
a {
	color:$font-color--dark;
}
.tab-list li.active {
	background:$green-light;
}.tab-list li.active:hover {
	background:$green-light;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: $font-color--light;
    cursor: pointer;
    background-color: $green-light;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.wrapper {
	width:980px;
	margin:0 auto;
	background-color:$background--white;
}
// .tab-list {
// 	background-color: $background--white;
// }
.tab-list li:active{ 
	background-color:$green-light;
	color:$font-color--light;
}
// .tab-list li a{ 
// 	color:$font-color--light;
// }
#logo{
	margin:0 auto;
	width:300px;
}
.pick-store {
	margin-top:25px;
	margin-bottom:25px;
}
.pick-store label {
	background-color: $green-light;
	color:$font-color--light;
	padding: $half-space - 15 $half-space;
}
.pick-store input, 
.pick-store select {
	padding: ($half-space - 16) $padding-size;
	margin-left: -5px;
}
.pick-store select {
	width:150px;
	height:31px;
	display:inline-block;
}
table {
	background-color: $background--white;
}
table > thead > tr.header{
	background-color: $green-light;
	color:$font-color--light;
}
table > thead > tr{
	background-color: $green-light;
	color:$font-color--gray;
  	padding: 0;
}
.total-price {
	color:$green-light;
	font-weight:bold;
	font-size:18px;
}

//Page 1

.logo {
    text-align: center;
    padding-top: $half-space;
    padding-bottom: $half-space;
    border-bottom: 1px solid #ededf1;
}

.title{
    font-size: $font-size--lg;
    line-height: initial;
    margin-top: $full-space*2;
    margin-bottom: $half-space;
    color: $title-green;
    text-align: center;
}

.store-list {
    margin: 0 auto;
    border-top: 1px solid #eaeaee;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 1px 0 #c8c8d3;
    width: 360px;
    height: auto;
    padding: $half-space;
    background: $green-bg;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow-y: scroll;
        height: 172px;
    }
    button[type=submit]{
        margin: 0 auto;
        margin-top: $half-space;
        display: block;
        background: $red;;
        border: 1px solid $red;
        color: $font-color--light;
    }
}

.store-item {
    padding: 10px $half-space;
    background: #fff;
    border-bottom: 1px solid #ededf1;
    font-size: $font-size--md;
    cursor: pointer;
}

.selected-item {
    background-color: red;
}



.highlight-red {
    // background-color: red;
    -webkit-animation: pulseRed 0.5s infinite alternate;
}
.highlight-green {
    background-color: green;
    -webkit-animation: pulseGreen 1s infinite alternate;
}
td {
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
    background-color: white;
}

.disable-td {
    background-color: gray;
}


@-webkit-keyframes pulseRed {
      0% {background-color: white;}
     100% {background-color: red;}
      0% {background-color: white;}
}

@-webkit-keyframes pulseGreen {
      0% {background-color: white;}
     100% {background-color: green;}
      0% {background-color: white;}
}