
<div class="logo">
    <a href="#">
        <img src="../images/logo.svg" width="170" alt="HappyFresh Logo">
    </a>
</div>

<div class="text-center">
  <h1 class="title">Welcome!!!!</h1>
  <a href="/page1" class="btn btn-lg" style="border: 1px solid #9acb3c">let's start compare</a>
</div>



<!-- <h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

<img src="images/angular.png" height="100" />
<img src="images/gulp.png" height="100" />
<img src="images/browserify.png" height="100" />

<hr/>
<div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div> -->
