<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Choose cart</title>
  </head>
  <body>
    <section>
        <div class="logo">
            <a href="#">
                <img src="../images/logo.svg" width="170" alt="HappyFresh Logo">
            </a>
        </div>
        
        <h1 class="title">
          Those are all the carts you have at the moment,
          <br />
          Please select one Cart: 
        </h1>
        
        {{lala}}
        <div class="store-list">
            <ul>
                <li class="store-item" ng-class="{'selected-item': c.selected === true}" ng-repeat="c in carts | orderBy: -'updated_at' track by c.id" ng-click="chooseCart(c);">{{c.id}} - <span class="text-muted">{{toDate(c.updated_at);}}</span></li>
            </ul>
            
            <button type="submit" class="btn btn-success btn-lg" ng-click="processPage1();">Start compare</button>
        </div>
        
    </section>
  </body>
</html>