
<div id="logo">
	<img src="../images/logo-dark-green.svg" alt="logo" width="250" height="150">
</div>
<div class="wrapper">
	<ul class="nav nav-tabs tab-list">
	  <li class="active"><a data-toggle="tab" href="#home">Compare cart</a></li>
	  <li><a data-toggle="tab" href="#menu1">Compare Special</a></li>
	</ul>

	<div class="tab-content">
	  <div id="home" class="tab-pane fade in active">
	    	<div class="pick-store">
	    		<div class="col-md-6 current-store">
					<label for="current-store">Current Store</label>
		    			<input type="text" value="first store" id="current-store">
	    		</div>
	    		<div class="col-md-6 other-store form-group">
		    		<label for="other-store">Other Store
		    		</label>
	    			<select name="other-store" class="form-control" id="other-store">
	    				<option value="">Store 1</option>
	    				<option value="">Store 2</option>
	    				<option value="">Store 3</option>
	    				<option value="">Store 4</option>
	    			</select>
	    		</div>
	    	</div>
	    	<div class="clearfix"></div>
	    	<div class="table-list">
	    		<div class="col-md-6">
	    			<table class="table table-bordered">
	    				<thead>
	    					<tr class="header">
	    						<th>Stt</th>
	    						<th>Name</th>
	    						<th>Price</th>
	    						<th>Quantity</th>
	    					</tr>
	    				</thead>
	    				<tbody>
	    					<tr>
	    						<th>1</th>
	    						<td>water</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    					<tr>
	    						<th>2</th>
	    						<td>Orange</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    					<tr>
	    						<th>3</th>
	    						<td>Banana</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    				</tbody>
	    			</table>
	    			<p class="total-price">Total Price: 50$</p>
	    		</div>
	    		<div class="col-md-6">
	    			<table class="table table-bordered">
	    				<thead>
	    					<tr class="header">
	    						<th>Stt</th>
	    						<th>Name</th>
	    						<th>Price</th>
	    						<th>Quantity</th>
	    					</tr>
	    				</thead>
	    				<tbody>
	    					<tr>
	    						<th>1</th>
	    						<td>water</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    					<tr>
	    						<th>2</th>
	    						<td>Orange</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    					<tr>
	    						<th>3</th>
	    						<td>Banana</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    				</tbody>
	    			</table>
	    			<p class="total-price">Total Price: 50$</p>
	    		</div>
	    	</div>
	  </div>
	  <div id="menu1" class="tab-pane fade">
	    <div class="pick-store">
	    		<div class="col-md-6 current-store">
					<label for="current-store">Current Store</label>
		    			<input type="text" value="first store" id="current-store">
	    		</div>
	    		<div class="col-md-6 other-store form-group">
		    		<label for="other-store">Other Store
		    		</label>
	    			<select name="other-store" class="form-control" id="other-store">
	    				<option value="">Store 1</option>
	    				<option value="">Store 2</option>
	    				<option value="">Store 3</option>
	    				<option value="">Store 4</option>
	    			</select>
	    		</div>
	    	</div>
	    	<div class="clearfix"></div>
	    	<div class="table-list">
	    		<div class="col-md-6">
	    			<table class="table table-bordered">
	    				<thead>
	    					<tr class="header">
	    						<th>Stt</th>
	    						<th>Name</th>
	    						<th>Price</th>
	    						<th>Quantity</th>
	    					</tr>
	    				</thead>
	    				<tbody>
	    					<tr>
	    						<th>1</th>
	    						<td>water</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    					<tr>
	    						<th>2</th>
	    						<td>Orange</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    					<tr>
	    						<th>3</th>
	    						<td>Banana</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    				</tbody>
	    			</table>
	    			<p class="total-price">Total Price: 50$</p>
	    		</div>
	    		<div class="col-md-6">
	    			<table class="table table-bordered">
	    				<thead>
	    					<tr class="header">
	    						<th>Stt</th>
	    						<th>Name</th>
	    						<th>Price</th>
	    						<th>Quantity</th>
	    					</tr>
	    				</thead>
	    				<tbody>
	    					<tr>
	    						<th>1</th>
	    						<td>water</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    					<tr>
	    						<th>2</th>
	    						<td>Orange</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    					<tr>
	    						<th>3</th>
	    						<td>Banana</td>
	    						<td>10$</td>
	    						<td>2</td>
	    					</tr>
	    				</tbody>
	    			</table>
	    			<p class="total-price">Total Price: 50$</p>
	    		</div>
	    	</div>
	  </div>
	</div>
	<div class="clearfix"></div>
</div>
