<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Choose cart</title>
  </head>
  <body>
    <section>
        <div class="logo">
            <a href="#">
                <img src="../images/logo.svg" width="170" alt="HappyFresh Logo">
            </a>
        </div>
        
        <h1 class="title">Select a store</h1>
        
        <div class="store-list">
            <ul>
                <li class="store-item">Store 1</li>
                <li class="store-item">Store 2</li>
                <li class="store-item">Store 3</li>
                <li class="store-item">Store 4</li>
                <li class="store-item">Store 5</li>
                <li class="store-item">Store 6</li>
                <li class="store-item">Store 7</li>
            </ul>
            
            <button type="submit" class="btn btn-success btn-lg">Start compare</button>
        </div>
        
    </section>
  </body>
</html>